<div style="text-align: center;">
  <h1 style="color: red;">Pipes in Angular with Examples</h1>
</div>

<div style="text-align: justify;">
<div style="background-color :cyan;">
<h3> Name : {{Name }}</h3>
  
<h3> Name in LowerCase : {{Name | lowercase}}</h3>

<h3> Name in UpperCase : {{Name | uppercase}}</h3>

<h3> Name in TitleCase : {{Name | titlecase}}</h3>

<h3> Today's Date : {{today |date}}</h3>

<h3> Full Date : {{today |date:'fullDate'}}</h3>

<h3> String Name is : {{str}}</h3>
<h3> String is sliced with 1 : {{str |slice:1}}</h3>
<h3> String is sliced with 1 and 5 : {{str |slice:1:5}}</h3>


<h3> Currency Value: {{value}}</h3>
<h3> Currency in USD : {{value |currency:'USD'}}</h3>
<h3> Currency in USD : {{value |currency:'CAD'}}</h3>
<h3> Currency in INR : {{value |currency:'INR'}}</h3>
</div>



</div>
